#buttons {
    display: flex;
    font-size: 50;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 50px;
}

button {
    font-size: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
}

#roundOutput {
    display: flex;
    align-items: center;
    justify-content: center;
}

#scores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#gameOutput {
    display: flex;
    align-items: center;
    justify-content: center;
}